td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 150px
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 120%;
    height: 50px;
    line-height: 50px;
    background-color: #122d42;
}

body{
    background-image: url("../assets/bg.png");
}

#app-container{
    margin-top: 20px;
    background-color: #fff;
}

.shadow{
    box-shadow: 0 8px 6px -6px #d3d3d3 ;
}

.footer a{
    text-decoration: none;
    color: #f4f4f4;
}

.footer a:hover{
    text-decoration: none;
    color: #3dd2cc;
}